body {
    background-image: url('../imagenes/fondito.jpg');
    /* Cambia 'tu_imagen_de_fondo.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    /* Ajusta el tamaño de la imagen de fondo para cubrir todo el body */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-attachment: fixed;
    /* Añade el efecto de parallax al fondo */
    margin: 0;
    /* Elimina el margen predeterminado del body */
    padding: 0;
    /* Elimina el relleno predeterminado del body */
}

.productos-container {
    display: flex;
    overflow: hidden;
}

.producto {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    margin-right: 20px; /* Espaciado entre las habitaciones */
}

.producto img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.producto .contenido {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.btn-success {
    background-color: #ffae00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #c96a2b;
}



.clear {
    clear: both;
}

.container {
    /* Estilos para tu contenedor adicional (Reserva) */
    margin-top: 20px;
    perspective: 1000px;
}

.card {
    /* Estilos para la tarjeta de reserva */
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}
.card:hover {
    transform: rotateY(180deg);
}
.face {
    /* Estilos para las caras de la tarjeta */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
}
.stars {
    /* Estilos para las estrellas, puedes personalizar según tus necesidades */
    display: inline-block;
    color: #ffd700;
    font-size: 24px;
}


.face.back {
    box-sizing: border-box;
    padding: 15px;
}

.face.back b {
    margin: 0;
    padding: 0;
}

.face.back p {
    color: #ffffff;
    
}

.face.back .desc {
    background-color: #eee;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}



.face.front {
    transition: 0.5s;
}

.face.front b {
    margin: 0;
    padding: 0;
    font-size: 5.1em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.card:hover .face.front {
    height: 60px;
}

.card:hover .face.front b {
    font-size: 2em;
}

.face.front {
    background-color: #0cbaba;
    border-radius: 15px;
}
/*Header*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
	--header-bg: #fff;
}

body {
	font-family: "DM Sans", sans-serif;
	background-color: #f2f5f7;
	line-height: 1.5;
	min-height: 300vh;
	position: relative;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

/* Sticky header */
.header-outer {
	/* Make it stick */
	height: var(--header-outer-height);
	position: sticky;
	top: calc(
		var(--header-height-difference) * -1
	); /* Multiply by -1 to get a negative value */
	display: flex;
	align-items: center;

	/* Other */
	background-color: var(--header-bg);
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
}

.header-inner {
	/* Make it stick */
	height: var(--header-inner-height);
	position: sticky;
	top: 0;

	/* Other */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Styling of other elements */
.header-logo img {
	display: block;
	height: calc(var(--header-inner-height) - 30px);
}

#titulo{
    font-size: 25px;
    font-weight: bold;
}

.header-navigation {
	display: flex;
	flex-wrap: wrap;
}

.header-navigation a,
.header-navigation button {
	font-size: 1.125rem;
	color: inherit;
	margin-left: 1.75rem;
	position: relative;
	font-weight: 500;
}

.header-navigation a {
	display: none;
	font-size: 1.125rem;
	color: inherit;
	text-decoration: none;
}

.header-navigation button {
	border: 0;
	background-color: transparent;
	padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
	transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
	transition: 0.25s ease;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentcolor;
	transform: scalex(0);
	position: absolute;
	bottom: -2px;
	left: 0;
}

@media (min-width: 800px) {
	.header-navigation a {
		display: inline-block;
	}

	.header-navigation button {
		display: none;
	}
}


  
  #button-addon1 {
    color: #ffc371;
  }
  
  i {
    color: #1ab6ca;
    font-size: 20px;}
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
  
   
  .display-3{
    font-family: 'Sanchez', serif;
  }
  
  p{
    font-family: 'Tajawal', sans-serif;
  }
  
  .lead{
    font-family: 'Sanchez 200', serif;
  }