/* Estilos para los números de contacto y el formulario de contacto */
#contact-container {
    margin-bottom: 40px;
}

/* Estilos para el mapa */
#map-container {
    margin-top: 40px;
}

.page-footer-minimal-inner-subscribe {
    margin-top: 40px;
}

.page-footer-minimal-inner-subscribe h4 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para el espacio alrededor del contenedor */
#shell-wide-container {
    margin-top: 80px; 
    margin-bottom: 40px; 
    margin-left: 30px;
    margin-right: 30px;
}

#map-container{
    padding-top: 1000px;
}