/*img fondo*/
.rd-navbar-top-panel.rd-navbar-collapse {
  background-image: url('../imagenes/fondoheader1.png');
   /*background-position: center; /* Para centrar la imagen */
   /*border-top: 30px solid #708AA8;*/
   background-size: contain; /* La imagen se ajusta dentro del div sin recortarse */
   background-repeat: no-repeat; /* Evita que la imagen se repita */
   background-size: cover;
   background-position: center;
   background-size: 100% auto;
 }


 .rd-navbar-top-panel {
   height: 300px; 
   margin-bottom: 10px;
 }

 .rd-navbar-brand{
   margin-left:80px;
 }
 
 /*boton redes*/
 .right-side{
   margin-right:80px;
   /*margin-top: 20px;*/
 }
.contact-info{
  padding-top: 180px;
}
 .left-side{
  margin-left:80px;
  margin-top: 1000px;
 }
 .social {
   margin: 0;
   padding-top: 180px;
   list-style: none;
   padding-left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
 }
 
 .social .social-item {
   margin: 0 20px;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .social .social-item .social-link {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   text-align: center;
   transform: perspective(1000px) rotate(-30deg) skew(25deg)
     translate(0, 0);
   transition: all 0.4s ease;
 }
 
 .social .social-item .social-link::before {
   content: "";
   position: absolute;
   top: 5px;
   left: -10px;
   height: 100%;
   width: 10px;
   background: #b1b1b1;
   transition: all 0.4s ease;
   transform: rotate(0deg) skewY(-45deg);
 }
 
 .social .social-item .social-link::after {
   content: "";
   position: absolute;
   top: 30px;
   left: -5px;
   height: 10px;
   width: 100%;
   background: #b1b1b1;
   transition: all 0.4s ease;
   transform: rotate(0deg) skewX(-45deg);
 }
 
 .social .social-item .social-link:hover {
   transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(5px, -5px);
   box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
 }
 
 .social .social-item:nth-child(1) a {
   color: #3b5999;
 }
 
 .social .social-item:nth-child(1):hover a {
   background: #3b5999;
 }
 
 .social .social-item:nth-child(1):hover a::before {
   background: #3b5999;
 }
 
 .social .social-item:nth-child(1):hover a::after {
   background: #3b5999;
 }
 
 .social .social-item:nth-child(2) a {
   color: #55acee;
 }
 
 .social .social-item:nth-child(2):hover a {
   background: #55acee;
 }
 
 .social .social-item:nth-child(2):hover a::before {
   background: #55acee;
 }
 
 .social .social-item:nth-child(2):hover a::after {
   background: #55acee;
 }
 
 .social .social-item:nth-child(3) a {
   color: #dd4b39;
 }
 
 .social .social-item:nth-child(3):hover a {
   background: #dd4b39;
 }
 
 .social .social-item:nth-child(3):hover a::before {
   background: #dd4b39;
 }
 
 .social .social-item:nth-child(3):hover a::after {
   background: #dd4b39;
 }
 
 .social .social-item:nth-child(4) a {
   color: #e4405f;
 }
 
 .social .social-item:nth-child(4):hover a {
   background: #e4405f;
 }
 
 .social .social-item:nth-child(4):hover a::before {
   background: #e4405f;
 }
 
 .social .social-item:nth-child(4):hover a::after {
   background: #e4405f;
 }
 
 .social .social-item .social-link:hover {
   color: #ffffff;
 }

 /*footer*/
 .main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 80px;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.facebook {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.whatsapp {
  margin-top: -.6em;
  margin-left: 1.2em;
  fill: #00ff00;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.gmail {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #f14336;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1877f2;
}

.card2:hover .facebook {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #00ff00;
}

.card3:hover .whatsapp {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #FF0004;
}

.card4:hover .gmail {
  fill: white;
}

.footer-h4{
  background-color: #708AA8;
  border-radius: 10px; 
  padding: 10px; 
  text-align: center;
  color: white;
}
#titulos-footer{
  background-color: #708AA8;
}
#Boton-footer{
  text-align: center;
  margin-right: 30px;
}
#xd{
  margin-left: 150px;
}