/*
*
* Page Loaders
* --------------------------------------------------
*/
.page-loader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	z-index: 9999999;
	background: #fff;
	transition: .3s all ease;
}

.page-loader.loaded {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.page-loader.ending {
	display: none;
}

.page-loader .page-loader-body {
	text-align: center;
}

.page-loader .loader {
	color: #fff;
	font-size: 24px;
}

.page-loader .loader span {
	display: block;
}

/* EDITABLE PARAMETERS */
@keyframes flicker {
	0% {
		background: transparent;
	}
	50% {
		background: white;
	}
	100% {
		background: transparent;
	}
}

@keyframes neon {
	0% {
		text-shadow: none;
	}
	50% {
		text-shadow: rgba(255, 255, 255, 0.8) 0 0 8px;
	}
	100% {
		text-shadow: none;
	}
}

.loader {
	padding: .5em;
	width: 5.5em;
	height: 9.5em;
	margin: 100px auto;
	background: #444444;
	position: relative;
	box-shadow: #2b2b2b 0 0 20px inset;
	border-radius: 4px;
}

.loader .hotel-sign {
	padding: .25em 0;
	position: absolute;
	right: -1.5em;
	width: 1.3em;
	content: " ";
	text-align: center;
	background: #a13a3a;
	font-family: sans-serif;
	font-weight: 700;
	border-radius: 4px;
	box-shadow: #2b2b2b 0 0 10px inset;
	animation: neon 3s infinite ease;
}
.loader .hotel-sign1 {
	padding: .25em 0;
	position: absolute;
	right: -3.5em;
    bottom: 0.2em;
	width: 1.3em;
	content: " ";
	text-align: center;
	background: #a13a3a;
	font-family: sans-serif;
	font-weight: 700;
	border-radius: 4px;
	box-shadow: #2b2b2b 0 0 10px inset;
	animation: neon 3s infinite ease;
}

.loader .hotel-sign span {
	line-height: 1;
}

.loader .window {
	background: white;
	width: .5em;
	height: 1em;
	float: left;
	margin: 0 .5em .5em 0;
	border-radius: 2px;
	animation: flicker 1s infinite ease;
}

.loader .window:nth-of-type(22n) {
	margin: 0 0 .5em 0;
}

.loader .window:nth-child(1) {
	animation-delay: 0.5s;
	animation-duration: 0.5s;
}

.loader .window:nth-child(2) {
	animation-delay: 1s;
	animation-duration: 1s;
}

.loader .window:nth-child(3) {
	animation-delay: 1.5s;
	animation-duration: 1.5s;
}

.loader .window:nth-child(4) {
	animation-delay: 2s;
	animation-duration: 2s;
}

.loader .window:nth-child(5) {
	animation-delay: 2.5s;
	animation-duration: 2.5s;
}

.loader .window:nth-child(5) {
	animation-delay: 1.25s;
	animation-duration: 1.25s;
}

.loader .window:nth-child(6) {
	animation-delay: 1.5s;
	animation-duration: 1.5s;
}

.loader .window:nth-child(7) {
	animation-delay: 1.75s;
	animation-duration: 1.75s;
}

.loader .window:nth-child(8) {
	animation-delay: 2s;
	animation-duration: 2s;
}

.loader .window:nth-child(9) {
	animation-delay: 2.25s;
	animation-duration: 2.25s;
}

.loader .window:nth-child(10) {
	animation-delay: 2.5s;
	animation-duration: 2.5s;
}

.loader .window:nth-child(10) {
	animation-delay: 1s;
	animation-duration: 1s;
}

.loader .window:nth-child(11) {
	animation-delay: 1.1s;
	animation-duration: 1.1s;
}

.loader .window:nth-child(12) {
	animation-delay: 1.2s;
	animation-duration: 1.2s;
}

.loader .window:nth-child(13) {
	animation-delay: 1.3s;
	animation-duration: 1.3s;
}

.loader .window:nth-child(14) {
	animation-delay: 1.4s;
	animation-duration: 1.4s;
}

.loader .window:nth-child(15) {
	animation-delay: 1.5s;
	animation-duration: 1.5s;
}

.loader .window:nth-child(16) {
	animation-delay: 1.6s;
	animation-duration: 1.6s;
}

.loader .window:nth-child(17) {
	animation-delay: 1.7s;
	animation-duration: 1.7s;
}

.loader .window:nth-child(18) {
	animation-delay: 1.8s;
	animation-duration: 1.8s;
}

.loader .window:nth-child(19) {
	animation-delay: 1.9s;
	animation-duration: 1.9s;
}

.loader .window:nth-child(20) {
	animation-delay: 2s;
	animation-duration: 2s;
}

.loader .window:nth-child(20) {
	animation-delay: 1.33333s;
	animation-duration: 1.66667s;
}

.loader .window:nth-child(21) {
	animation-delay: 1.4s;
	animation-duration: 1.75s;
}

.loader .window:nth-child(22) {
	animation-delay: 1.46667s;
	animation-duration: 1.83333s;
}




.loader .door {
	background: white;
	position: absolute;
	bottom: 0;
	width: 1em;
	height: 1.5em;
	left: 50%;
	margin-left: -.5em;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
