/* Agrega aquí tus estilos personalizados */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto; /* Añade margen alrededor del contenedor */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
    padding: 20px;
    border-radius: 15px;
    background-color: #fff; /* Fondo blanco para el contenedor */
}

.titulo-principal {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #343a40; /* Color del texto oscuro */
}

.habitacion {
    background-color: #fff;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra más sutil */
    transition: transform 0.3s ease-in-out;
}

.habitacion:hover {
    transform: scale(1.05);
}

.habitacion-img-container {
    flex-shrink: 0;
    width: 200px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}

.habitacion-img {
    width: 100%;
    height: auto;
    border-radius: 15px 0 0 15px;
}

.contenido {
    flex-grow: 1;
    padding: 20px;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #343a40; /* Color del texto oscuro */
}

.descripcion {
    margin-bottom: 20px;
    font-size: 16px;
    color: #6c757d; /* Color del texto gris */
}

.precio {
    padding: 15px;
    font-weight: bold;
    background-color: #28a745;
    color: #fff;
    border-radius: 0 15px 15px 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
